body {
  background-color: #1c7545;
  font-family: "Helvetica", "sans-serif";
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  padding: 10px;
}

.title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.game-board {
  width: 100%;
}

.dealer-score {
  margin: 10px;
  font-size: 2em;
  min-height: 47px;
}

.hand-result {
  padding: 10px;
  font-size: 2em;
  text-align: center;
  min-height: 40px;
}

.player-score {
  margin: 10px;
  font-size: 2em;
  min-height: 47px;
}

.player-cards {
  min-height: 100px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dealer-cards {
  min-height: 100px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 100px;
}

.button {
  margin: 10px auto;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 1px;
  width: 100%;
  display: block;
}

.hit {
  display: none;
}

.stand {
  display: none;
}

.upper-board {
  display: flex;
  justify-content: space-between;
}

.cards-count {
  margin: 10px;
  font-size: 2em;
  min-height: 47px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .dealer-score,
  .player-score,
  .cards-count,
  .hand-result {
    font-size: 1em;
  }
}
